

<h2>Build Your Own Recipe</h2>



 <span id="user_id" hidden>{{user.ID}}</span>

<div id = "all_ingredient_info">
{{#ingredients}}
    <span id="ingredient_{{@index}}" hidden>{{ID}}*{{Name}}*{{IsEthical}}*{{EthicalDescription}}*{{IngredientGroupID}}*{{GroupName}}</span>
{{/ingredients}}
</div>


<div id="formContainer">
<!-- Insert Your Own Ingredient Form -->

    <div id="ingredient_div">
        <h2>Build Your Own Recipe</h2>
        <form id="ingredient_form">
            <fieldset>
                <legend>Pick a food category and choose from the list of available ingredients in that category.<br> Then enter the appropriate information for that ingredient to add it to your recipe below.</legend>
                <label for="category">Category</label>
                <select name="category" id="category_choice">
                    <option value="-1">None</option>
                </select>
                <br>
                <label for="ingredient">Ingredient:</label>  
                <select name="ingredient" id="ing_choice">
                    <option value="-1">None</option>
    
                </select>
                <br>
                <label for="amount">Amount:</label>
                <input type="number" id="amount" name="amount" placeholder="Decimal number" step="0.01">

                <input type="text" id="measurement_type" name="measurement_type" placeholder="Unit of measurement">
                <br>
                <input type="button" id="submit_ingredient" value="Add Ingredient to Recipe">
            </fieldset>
          </form>
    </div>
    

    <br>
    <br>
    <!-- Recipe Form -->
    <div id = "recipe_form">

     

        <fieldset>
        <legend>Click on "check" to check if an ingredient is ethical or not.<br> If it is unethical, you can choose from a list of ethical alternatives to replace the ingredient!</legend>
        <br>
        <b>Recipe Name</b>
        <br>
        <input type="text" id="recipe_name" placeholder="Enter recipe name here." ></input>
        <br>
        <br>
        <table id="recipe_table">
            <tr>
                <th></th>
                <th>Ingredient</th>
                <th>Amount</th>
                <th>Measurement Type</th>
                <th>Check</th>
                <th>Delete</th>
            </tr>
         
        </table>
        <br>
        <b>Recipe description</b><br>
        <textarea id="recipe_description" rows="6" cols="70" placeholder="Enter recipe description here."></textarea>
        <br>

        {{#if user}}
            <input id="finish_recipe_button" type="button" value="Finish Recipe">
        {{else}}
            <input id="finish_recipe_button" type="button" value="Finish Recipe" disabled>
        {{/if}}
        </fieldset>


    </div>


</div>


<div class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h3 id="ingredientName"></h1>
        <p id="ingredientDescription"></p>
        <div id="ethical_AltList">If an ingredient is unethical, alternatives will be shown below:</div>
        

    </div>
</div>
